<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.seu.edu.arch.dao.QuestionsMapper">
  <resultMap id="BaseResultMap" type="cn.seu.edu.arch.model.Questions">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="categoryL1" jdbcType="VARCHAR" property="categoryl1" />
    <result column="categoryL2" jdbcType="VARCHAR" property="categoryl2" />
    <result column="categoryL3" jdbcType="VARCHAR" property="categoryl3" />
    <result column="point" jdbcType="VARCHAR" property="point" />
    <result column="difficultpoint" jdbcType="VARCHAR" property="difficultpoint" />
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
    <result column="choices" jdbcType="LONGVARCHAR" property="choices" />
    <result column="answer" jdbcType="LONGVARCHAR" property="answer" />
    <result column="explanation" jdbcType="LONGVARCHAR" property="explanation" />
  </resultMap>
</mapper>